<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birth</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/birth.css"> 
</head>
<body>
    
   
    {{>navi}}

    
    
    
    <section id="bg-coll">
    <div id="packages">
        <div class="collp reveal">
        <button type="button" class="collapsible">Balloon Decoration</button>
        <!-- <div class="image">
            <img src="birthday2.jpg" alt="">
        </div> -->
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iure quae nulla, itaque explicabo earum incidunt voluptas similique a accusamus saepe sed ad voluptatum optio deleniti maior
            </p>
        </div>
    </div>

    <div class="collp reveal">
        <button type="button" class="collapsible">CAKES</button>
        <!-- <div class="image">
            <img src="birthday2.jpg" alt="">
        </div> -->
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iure quae nulla, itaque explicabo earum incidunt voluptas similique a accusamus saepe sed ad voluptatum optio deleniti maior
            </p>
        </div>
    </div>
        <div class="collp reveal">
        <button type="button" class="collapsible">PHOTOGRAPHER</button>
        <!-- <div class="image">
            <img src="birthday2.jpg" alt="">
        </div> -->
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iure quae nulla, itaque explicabo earum incidunt voluptas similique a accusamus saepe sed ad voluptatum optio deleniti maior
            </p>
        </div>
    </div>
        <div class="collp reveal">
        <button type="button" class="collapsible">Fun Events</button>
        <!-- <div class="image">
            <img src="birthday2.jpg" alt="">
        </div> -->
        <div class="content">
            <ul>
                <li>Mickey Mouse Bounce</li>
                <!-- <br> -->
                <p> For this we only need the mickey mouse and one attender to look after it but this can only be done in an open area.</p>
                <li>Balancing Act</li>
                <p>For this we only need the mickey mouse and one attender to look after it but this can only be done in an open area.</p>
                <li>Treasure Hunt </li>
                <p>They have to find an item in the home or outdoor.</p>

                <li>Musical Chair</li>
                <p>Classic musical chair.
                </p>
                <li>Theme Based games</li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, laudantium!</p>
            </ul>
        </div>
    </div>
    </div>
        
        
</section>
        

{{>footerpar}}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
crossorigin="anonymous">
</script>
<script src="../js/birth.js"></script>
</body>
</html>