<!doctype html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>PartEase</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/partease.css"> 
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


    <script src="../js/partease.js"></script>

  </head> 
  <body> 
   
        {{>navi}}
    


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
                <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button> -->
        
              <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
        
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/partease logo.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/partease logo.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/partease logo.jpg" class="d-block w-100" alt="...">
              </div>
              <!-- <div class="carousel-item">
                <img src="partease logo.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="partease logo.jpg" class="d-block w-100" alt="...">
              </div> -->
        
              <!-- <div class="carousel-item active">
                    <img src="partease logo.jpg" class="d-block w-100" alt="...">
                  </div> -->
        
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        


<!-- ---------------------------------About PartEase------------------------------------------ -->
<section id="apart" class="reveal container">
    <div class="apartease">
        
        <div class="apart-headcon">
        <div class="apart-header">
            <h1>Welcome to partease</h1>
        </div>
            <div class="content">
                <p>PartEase is an event management & planning organisation.With the help of PartEase now you can organise your events, manage invites and follow up in a few clicks only! PartEase is a dedicated event management team which helps you create and manage your event in the easiest way possible.We hope you enjoy our Event planning as much as we enjoy offering them to you. We help you throw parties, plan activities and create unforgettable moments for your members, employees or customers.We like to work smart and make our clients happy by making their events fun, interesting and memorable. Life is full of celebrations--get them off to a great start. Let us take care of the details so you can spend more time with your loved ones.We remove the hassle from event planning so you can focus on what really matters: your audience.</p>
            </div>
            <div class="apart-img">
                <!-- <img src="design.png" alt=""> -->
            </div>
        </div>
            
        </div>
   
</section>

<!-- End Of About PartEase Section -->




         <!-- Event Section -->





         <div class="bg-color">
         <div class="event-head">
           <div id="eventhead"> <h1>Events</h1></div>
         </div>
         
         <section id="about1" class="reveal about container">
            <!-- <div class="about-img">
                <div class="about-img-wrapper">
                    <img src="partease logo.jpg">
                </div>
            </div> -->
            <div class=" about-info">
                <h1 class="about-info-heading-left">Valentine's Planning</h1>
                <p class="about-info-desc-left">Are you planning for a romantic valentine's day? Be it a valentine's day party with your loved ones, visiting a restaurant or having fun at home, come to us for some great suggestions. We have everything from corporate valentines day events to homemade valentine's day ideas. We have everything you need without spending a fortune on PartEase.
                Embrace the love on valentine and carry the love virus with you all year long. Find great restaurants to take your date on Valentine's Day. Save this February 14th for you plus one. We've got a surprise event planned in your honor.Click now to tell your lover how much you care.</p>
                <!-- <a href="#" type="button" class="about-info-button">Download Resume</a> -->
            </div>
            <div class="about-img">
                <div class="about-img-wrapper">
                    <img src="../images/valen.jpeg">
                </div>
            </div>
    
        </section>


    <section id="about2" class="reveal about container">
        <div class="about-info">
    <a href="/birthday">
            <h1 class="about-info-heading-left">Birthday Planning</h1>
</a>
            <p class="about-info-desc-left">Your one-stop birthday event planning guide for your next birthday party. Find birthday party suppliers, venues and ideas with PartEase. A birthday event creator. You invite. We create!
                PartEase is the easiest way to throw a memorable birthday event or party just for you and your friends. Using our DIY Event Builder, you can custom design every detail of your celebration - from invitations to the finish line.
                PartEase brings all the tools you need to make your event a success. With just a few taps, it takes care of everything. From party invitations and birthday cards to seating arrangements and gift tags. Now you can throw the best parties ever.
                </p>
            <!-- <a href="#" type="button" class="about-info-button">Download Resume</a> -->
        </div>
        <div class="about-img">
            <div class="about-img-wrapper">
                 <a href="/birthday">
                <img src="images/birthday.jpeg"></a>
            </div>
        </div>
    </section>

    <section id="about3" class="reveal about container">
        <!-- <div class="about-img">
            <div class="about-img-wrapper">
                <img src="partease logo.jpg">
            </div>
        </div> -->
        <div class="about-info">
            <h1 class="about-info-heading-left">Anniversary Planning</h1>
            <p class="about-info-desc-left">Seasons Greetings from PartEase ! We are your one stop shop for all your special event planning needs. From online booking, to one-to-one event consultations we can help you find the perfect combination of style and value for your next holiday celebration!
                From affordable menu packages, to one-to-one event consultations, we can help you find the perfect combination of style and value for your next special event.
                </p>
            <!-- <a href="#" type="button" class="about-info-button">Download Resume</a> -->
        </div>
        <div class="about-img">
            <div class="about-img-wrapper">
                <img src="images/anniversary.jpeg">
            </div>
        </div>

    </section>


    <section id="about4" class="reveal about container">
        
        <div class="about-info">
            <h1 class="about-info-heading-left">Marriage Planning</h1>
            <p class="about-info-desc-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque dicta animi,
                inventore eius ut repellat nobis, minus doloribus quia repudiandae, hic dolor esse aperiam rem! Voluptas
                similique ullam nemo voluptatibus.</p>
            <!-- <a href="#" type="button" class="about-info-button">Download Resume</a> -->
        </div>
        <div class="about-img">
            <div class="about-img-wrapper">
                <img src="images/marriage.jpeg">
            </div>
        </div>
        
    </section>
    <div class="more">
        <a href="#"><div class="btnnn">.....load more</div></a>

    </div>
</div>


{{>footerpar}}
  
   
    

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous">

 {{!-- setTimeout(function() {
    location.reload();
  }, 1000); --}}


setInterval(function() {
  location.reload();
}, 1000);



   
    </script>

</body>
</html>