
    <link rel="stylesheet" href="../css/footer.css"> 

    <section id="footer">
        <div id="footer-left">
            <div class="footer-left-1">
                <div class="footer-left-head">
                <h1>Visit </h1>
            </div>
            <div class="footer-content">
                <ul>
                    <a href=""><li>Home</li></a>
                    <a href=""><li>About us</li></a>
                    <a href=""><li>Services</li></a>
                    <a href=""><li>Book</li></a>  
                </ul>
            </div>
            </div>
            <div class="footer-left-2">
                <div class="footer-left-head">
                <h1>Events</h1>
                </div>
            <div class="footer-content">
                <ul>
                    <a href=""><li>Birthday</li></a>
                    <a href=""><li>Retirement</li></a>
                    <a href=""><li>engagement</li></a>
                    <a href=""><li>Baby Shower</li></a>
                </ul>
            </div>
        </div>
            <!-- <div class="footer-right-3">
                <div class="footer-right-head">
                <h1>Join Us</h1>
            </div>
            <div class="footer-content">
                <ul>
                    <a href=""><li>Instagram</li></a>
                    <a href=""><li>Facebook</li></a>
                    <a href=""><li>Whatsapp</li></a>
                    <a href=""><li>Gmail</li></a>
                </ul>
            </div> -->
        </div>
    </div>
    <div class="footer-rowie">
    <div id="footer-right">
        <div class="footer-contact">
            <h1 class="footer-contact-heading">Contact With Us</h1>
            <p class="footer-contact-info">Email : <a class="footer-mail" href="workpartease@gmail.com">workpartease@gmail.com</a></p>
            <p class="footer-contact-info">Mobile : 91098 42646</p>
        </div> 
    </div>
        <div class="footer-social-follow">
            <h1 class="footer-social-follow-heading">Join Us</h1>
            <div class="footer-social-icon">
                <a class="fb" href="www.facebook.com"><img src="images/facebook.svg" alt=""></a>
                <a class="insta" href="#"><img src="images/instagram.svg" alt=""></a>
                <a class="wa" href="#"><img src="images/whatsapp.svg" alt=""></a>
                <a class="mail" href="#"><img src="images/envelope-solid.svg" alt=""></a>
            </div>
        </div>
    </div>
    
            
        </section>

        <button class="btnn" onclick="topFunction()" id="myBtn" title="Go to top"><img src="images/arrow.png"></button>


    <footer>
        <div class="foot">
          <div class="footer-mail"><p>© Copyright PartEase, Inc. 2023 All rights reserved.</p></a></div>
        </div>
      </footer>