<link rel="stylesheet" href="../css/navbar.css"> 

<section id="nav-bar" class="container">
 <div class="nav-list">

     <div class="navlist">
        <div class="apart-picture">
            {{!-- <a href="#apart"><img src="images/Partease.png" alt=""></a>
            <div class="navhead">
                <a href="#apart"><h1>Partease</h1></a>
            </div>
        </div> --}}
         <ul>
             <li><a href="/">Home</a></li>
             <li><a href="#eventhead">Events</a></li>
             <li><a href="/team">About Us</a></li>
             <li><a href="#book">Book</a> </li>
             <li>
                 <a href="#footer">Contact Us</a>
                 {{!-- <ul class="dropdown">
                     <li><a href="#">Instagram</a></li>
                     <li><a href="#">Facebook</a></li>
                     <li><a href="#">WhatApp</a></li>
                 </ul> --}}
             </li>
         </ul>
     </div>
     </div>

 </section>